div[class^="grid"] {
    height: 100px;
    outline: 1px solid plum;
    float: left;
}

.row {
    width: 100%;
}

.row div[class^="grid"]:last-child::after {
    clear: both;
}

.grid-1{
    width: 25%;
}
.grid-2 {
    width: 50%;
}
.grid-3 {
    width: 75%;
}
.grid-4 {
    width: 100%;
}


.menu ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 40%;
}

.menu li {
    display: table-cell;
    background: pink;
    text-align: center;
    position: relative;
}

.menu ul ul {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: height 0.4s 0.1s ease-out;
    width: 100%;
}


.menu ul ul li {
    display: block;
    width: 100%;
}

.menu ul ul a {
    background: lightgray;
}

.menu ul ul a:hover {
    background: gray;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    height: 30px;
    text-transform: uppercase;
    line-height: 30px;
    width: 100%;
}

.menu a:hover {
    background: red
}

.menu li:hover ul {
    display: block;
    height: 150px;
}