body {
    width: 100%;
}
.top-image {
    height: 400px;
    background: lightgreen;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

.menu li {
    display: table-cell;
    background: #89E589;
    text-align: center;
    position: relative;
    border: 1px solid white;
}

.menu ul ul {
    display: block;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: height 0.4s 0.1s ease-out;
    width: 100%;
}


.menu ul ul li {
    display: block;
    width: 100%;
}

.menu ul ul a {
    background: #9AD49A;
}

.menu ul ul a:hover {
    background: #7BA97B;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    height: 30px;
    text-transform: uppercase;
    line-height: 30px;
    width: 100%;
}

.menu a:hover {
    background: #ACECAC;
}

.menu li:hover ul {
    display: block;
    height: 150px;
}

.about {
    width: 90%;
    margin: 0 auto;
}

.about-me {
    width: 50%;
    height: 300px;
    background: gray;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px;
}

.photo {
    width: 30%;
    height: 300px;
    float: left;
    background: gray;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}